[submodule "shaka/apktool/apktool"]
	path = shaka/apktool/apktool
	url = https://github.com/iBotPeaches/Apktool.git
[submodule "shaka/smali/smali"]
	path = shaka/smali/smali
	url = https://github.com/JesusFreke/smali.git
