/brut.apktool/
/brut.apktool.smali/
/brut.j.common/
/brut.j.dir/
/brut.j.util/
/scripts/
.gradle/
build/
private/
*.kate-swp
*~
*.project
*.classpath
*.settings
*.setting
bin/
*.iml
.idea/
/out
TestApk/
Shaka.Apktool/src/test/java/com/rover12421/shaka/apktool/temp/
